.flyerList {
    padding: 1.5rem 10px;
    width:   calc(100%);

    .row {
        display:     grid;
        height:      calc((297mm - 150px) / var(--grid-rows));
        align-items: center;
        grid-template-columns: repeat(var(--grid-cols), calc(100% / var(--grid-cols)));

        div {
            display: grid;
            grid-template-columns: 40% calc(50% - 5px);
            grid-column-gap: 5px;
    
            div {
                display: block;
            }
        }
    }
    
    .fixed {
        position:   relative;
        padding:    20px 10px 10px;
        border:     var(--fx-bd-weight) var(--fx-bd-style) var(--fx-bd-color);
        color:      var(--fx-ft-color);
        background-color: var(--fx-bg-color);

        &::before {
            content: 'Preços Fixos';
            position:   absolute;
            top:        calc(var(--fx-title-height) / -2);
            left:       calc(50% - (var(--fx-title-width) - 20px) / 2);
            padding:    5px 10px;
            text-align: center;
            border:     var(--fx-title-bd-weight) var(--fx-title-bd-style) var(--fx-title-bd-color);
            color:      var(--fx-title-ft-color);
            font-size:  var(--fx-title-ft-size);
            font-family:var(--fx-title-ft-family);
            background-color: var(--fx-title-bg-color);
        }

        .price {
            color: var(--fx-price-color);
        }
    }

    img {
        max-width:  100%;
        max-height: calc((297mm - 150px) / 12);
    }

    p {
        font-family:    var(--product-font);
        font-weight:    bold;
        font-size:      8pt;
        text-transform: capitalize;
    }
    
    .price {
        font-size:      13pt;
        font-weight:    bold;
        color:          var(--price-tag-color);
        font-family:    var(--price-tag-font);
    
        background-attachment:  fixed;
        background-position:    center;
        background-repeat:      no-repeat;
        background-size:        cover;
    }
}