.flyerList {
    padding:    1.5rem 10px;
    width:      calc(100%);
    font-size:  8pt;

    .row {
        display:        flex;
        height:         calc((297mm - 150px) / var(--grid-rows));
        justify-content:space-evenly;
        align-items:    flex-end;
        padding-bottom: 40px;
        // grid-template-columns: repeat(var(--grid-cols), calc(100% / var(--grid-cols)));

        div {
            width: calc(100% / var(--grid-cols));
            display:         grid;
            grid-column-gap: 5px;
            align-items:     flex-end;
            grid-template-columns: 40% calc(50% - 5px);
    
            div {
                width:   100%;
                display: block;
            }
        }
    }
    
    @import 'fixed';

    img {
        max-width:  100%;
        max-height: calc((297mm - 150px) / 12);
    }

    p {
        font-family:    var(--product-font);
        font-weight:    bold;
        font-size:      1em;
        text-transform: capitalize;

        &.obs {
            font-weight: normal;
            font-size:   0.8em;
        }
    }
    
    .price {
        font-size:      var(--price-ft-size);
        font-weight:    bold;
        color:          var(--price-tag-color);
        font-family:    var(--price-tag-font);
        margin:         2px 0;
        padding:        2px;
    
        background-image: var(--price-tag-img);
        // background-attachment:  fixed;
        background-position:    center;
        background-repeat:      no-repeat;
        background-size:        cover;
    }
}