* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-print-color-adjust:exact;
}

:root {
    --product-font:     Arial;
    --price-tag-font:   Arial;

    --primary-color:    #0095D1;
    --secundary-color:  #165991;
    --price-tag-color:  #333333;
    --text-color:       #333333;

    --header-border-weight: 5px;
    --header-border-style:  solid;
    --footer-border-weight: 0px;
    --footer-border-style:  solid;

    --grid-cols:    5;
    --grid-rows:    6;
}