* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-print-color-adjust:exact;
}

:root {
    --product-font:     Arial;
    --price-tag-font:   Arial;

    --primary-color:    #0095D1;
    --secundary-color:  #165991;
    --price-tag-color:  #333333;
    --text-color:       #333333;

    --header-border-weight: 5px;
    --header-border-style:  solid;
    --footer-border-weight: 0px;
    --footer-border-style:  solid;

    --grid-cols:    5;
    --grid-rows:    6;

    --fixed-cols:   5;
    --fx-bg-color:  #0095D1;
    --fx-bd-color:  #165991;
    --fx-ft-color:  #E9E9E9;

    --fx-price-color: #66FF66;

    --fx-title-height:     40px;
    --fx-title-width:      127px;
    --fx-title-bg-color:   #0095D1;
    --fx-title-bd-color:   #165991;
    --fx-title-bd-weight:  2px;
    --fx-title-bd-style:   solid;
    --fx-title-ft-color:   #E9E9E9;
    --fx-title-ft-size:    18pt;
    --fx-title-ft-family:  Arial, sans-serif;
}