#preview, #config {
    overflow: auto;
}

#preview {
    position: relative;
    background-color: red;
}

#config {
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 10px 20px;
}