* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --dark-gray:    #4A4C4E;
    --light-gray:   #777;
    --white:        #EEE;
    
    --font-family:  Arial, sans-serif;
    --input-padding:5px 10px;
    --input-bradius:4px;
}
