@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

:root {
  --product-font: Arial;
  --price-tag-font: Arial;
  --fx-title-ft-family: Arial;
  --fx-title-ft-size: 18pt;
  --primary-color: #0095D1;
  --secundary-color: #165991;
  --price-tag-color: #333333;
  --fx-price-color: #66FF66;
  --text-color: #E9E9E9;
  --fx-bg-color: #0095D1;
  --fx-bd-color: #165991;
  --fx-ft-color: #E9E9E9;
  --fx-title-bg-color:#0095D1;
  --fx-title-bd-color:#165991;
  --fx-title-ft-color:#E9E9E9;
  --header-border-weight: 5px;
  --header-border-style: solid;
  --footer-border-weight: 0px;
  --footer-border-style: solid;
  --fx-bd-weight: 2px;
  --fx-bd-style: solid;
  --fx-title-height: 40px;
  --fx-title-width: 162px;
  --fx-title-bd-weight: 2px;
  --fx-title-bd-style: solid;
  --grid-cols: 5;
  --grid-rows: 6;
  --fixed-cols: 5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #191a21;
}

::-webkit-scrollbar-thumb {
  background-color: #6272a4;
}

::-webkit-scrollbar-corner {
  background: repeating-linear-gradient(45deg, #191a21, #191a21 2px, #6272a4 2px, #6272a4 4px);
}

body {
  background-color: #777;
}

main {
  width: 210mm;
  height: 297mm;
  background-color: white;
}
main:not(:last-child) {
  margin: 0 auto 10mm;
}
main:last-child {
  margin: 0 auto;
}

.flyerMain {
  display: flex;
  height: calc(100% - 100px);
}
.flyerMain#flyerMain {
  height: calc(100% - 150px);
}

.flyerAlert {
  writing-mode: vertical-rl;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: calc(297mm - 100px);
  text-align: center;
}
.flyerAlert#flyerAlert {
  height: calc(297mm - 150px);
}

.flyerHeader,
.flyerFooter {
  background: var(--primary-color);
  display: flex;
}

.flyerHeader {
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--header-border-weight) var(--header-border-style) var(--secundary-color);
  padding: 10px;
  height: 50px;
  color: var(--text-color);
}
.flyerHeader#flyerHeader {
  height: 100px;
}
.flyerHeader h1 {
  max-width: 50%;
}
.flyerHeader h2 {
  text-align: right;
}
.flyerHeader:not(#flyerHeader) h2 {
  width: 100%;
}

.flyerFooter {
  border-top: var(--footer-border-weight) var(--footer-border-style) var(--secundary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.flyerList {
  padding: 1.5rem 10px;
  width: calc(100%);
}
.flyerList .row {
  display: grid;
  height: calc((297mm - 150px) / var(--grid-rows));
  align-items: center;
  grid-template-columns: repeat(var(--grid-cols), calc(100% / var(--grid-cols)));
}
.flyerList .row div {
  display: grid;
  grid-template-columns: 40% calc(50% - 5px);
  grid-column-gap: 5px;
}
.flyerList .row div div {
  display: block;
}
.flyerList .fixed {
  position: relative;
  padding: 20px 10px 10px;
  border: var(--fx-bd-weight) var(--fx-bd-style) var(--fx-bd-color);
  color: var(--fx-ft-color);
  background-color: var(--fx-bg-color);
}
.flyerList .fixed::before {
  content: "Preços Fixos";
  position: absolute;
  top: calc(var(--fx-title-height) / -2);
  left: calc(50% - (var(--fx-title-width) - 20px) / 2);
  padding: 5px 10px;
  text-align: center;
  border: var(--fx-title-bd-weight) var(--fx-title-bd-style) var(--fx-title-bd-color);
  color: var(--fx-title-ft-color);
  font-size: var(--fx-title-ft-size);
  font-family: var(--fx-title-ft-family);
  background-color: var(--fx-title-bg-color);
}
.flyerList .fixed .price {
  color: var(--fx-price-color);
}
.flyerList img {
  max-width: 100%;
  max-height: calc((297mm - 150px) / 12);
}
.flyerList p {
  font-family: var(--product-font);
  font-weight: bold;
  font-size: 8pt;
  text-transform: capitalize;
}
.flyerList .price {
  font-size: 13pt;
  font-weight: bold;
  color: var(--price-tag-color);
  font-family: var(--price-tag-font);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=flyer.css.map */
